name: Docker Image CI

on:
  workflow_dispatch:


permissions:
  contents: write
  pull-requests: write

env:
  PROJECT_ID: affable-bivouac-474215-h5
  REGION: us-central1
  REPOSITORY: my-repo
  IMAGE_NAME: my-app
  INSTANCE_NAME: instance-20251031-232551
  ZONE: us-central1-A
  ARTIFACTREGISTRY: us-central1-docker.pkg.dev


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
          
      - name: Configure Docker for Google Artifact Registry
        run: gcloud auth configure-docker us-central1-docker.pkg.dev
      - name: Build and push image
        run: |
          docker build -t us-central1-docker.pkg.dev/affable-bivouac-474215-h5/my-repo/my-app:latest .
          docker push us-central1-docker.pkg.dev/affable-bivouac-474215-h5/my-repo/my-app:latest
